---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# exclude: ""

# pre-commit ci
ci:
  skip: [shellcheck, alejandra-system, run-prettier]
  autoupdate_schedule: monthly

# pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2000, --enforce-all]
      - id: check-json
        exclude: "dotfiles/vscode/settings.json"
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # shellcheck
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        types: [shell]
        args: [--external-sources, --exclude=SC1091]
        exclude: "dotfiles/shell/zsh/.zshrc"

  # actionlint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  # yamllint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--config-file=.github/linters/.yamllint.yml, --strict]

  # gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  # codespell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: "dotfiles/config"

  # alejandra
  - repo: https://github.com/kamadorueda/alejandra
    rev: 4.0.0
    hooks:
      - id: alejandra-system

  # prettier
  - repo: local
    hooks:
      - id: run-prettier
        name: Run Prettier
        language: system
        entry: |
          prettier --write .
