---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 12 * * 6" # Every Saturday at 12:00

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: write
    uses: daniel-mizsak/workflows/.github/workflows/lint.yml@v1
    with:
      megalinter-config: "./.github/linters/.megalinter.yml"

  nix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v6.0.1

      - name: Run nix format
        uses: daniel-mizsak/workflows/.github/actions/nix-format@v1

      - name: Install Nix
        uses: cachix/install-nix-action@v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Create files to make the flake valid
        run: |
          sudo mkdir -p {/etc/nixos,/home/damz}
          echo '{ config, ... }:

          {
            fileSystems."/" = {
              device = "/dev/disk/by-label/nixos";
              fsType = "ext4";
            };
          }' | sudo tee /etc/nixos/hardware-configuration.nix
          sudo ln -s "$GITHUB_WORKSPACE/" /home/damz/mtjd

      - name: Run nix flake check
        run: >
          nix flake check --impure ./nix
